.flex-container {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   height: 100%;
}

.tool-bar {
    width: 25%;
    border: 2px solid green;
    text-align: center;
}

.dropzone {
    width: 100%;
    text-align: center;
    border: 2px solid red;
}